/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.help-lsn,
.help-lsn > li {
  list-style: none; }

.help-posr {
  position: relative; }

.help-posa {
  position: absolute; }

.help-posf {
  position: fixed; }

.help-imgdf > img {
  max-width: 100%;
  width: auto;
  height: auto;
  border: none; }

.help-pt0 {
  padding-top: 0 !important; }

.help-pr0 {
  padding-right: 0 !important; }

.help-pt0 {
  padding-top: 0 !important; }

.help-pb0 {
  padding-bottom: 0 !important; }

.help-tdu {
  text-decoration: underline; }

.help-tdn {
  text-decoration: none; }

.help-vat {
  vertical-align: top; }

.help-fwb {
  font-weight: bold; }

.help-fw2 {
  font-weight: 200; }

.help-fw3 {
  font-weight: 300; }

.help-fw4 {
  font-weight: 400; }

.help-fw5 {
  font-weight: 500; }

.help-fw6 {
  font-weight: 600; }

.help-fw7 {
  font-weight: 700; }

.help-fw8 {
  font-weight: 800; }

.help-fw9 {
  font-weight: 900; }

.help-ovfh {
  overflow: hidden; }

.help-cursp {
  cursor: pointer; }

.help-img-backstretch {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 101%;
  min-width: 101%;
  z-index: -1;
  transform: translate(-50%, -50%); }

a, a:hover {
  text-decoration: none; }

img {
  max-width: 100%; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2); }

ul, li {
  list-style-type: none; }

ul {
  padding-left: 0; }

input[type=checkbox] {
  border: 1px solid #b4b9be;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  margin: -4px 0 0 0;
  outline: 0;
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  -webkit-appearance: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: .05s border-color ease-in-out; }

input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus {
  border-color: #1ab394;
  box-shadow: 0 0 2px rgba(26, 179, 148, 0.8);
  outline: 2px solid transparent; }

input[type=checkbox]:checked:before {
  content: "\f00c";
  margin-left: -1px;
  color: #1ab394; }

input[type=checkbox]:checked:before, input[type=radio]:checked:before {
  float: left;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  font: normal 14px/1 dashicons;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: FontAwesome; }

.text-under-input {
  font-size: 13px;
  margin-top: 5px; }

.margin-ibox-title {
  margin-bottom: 10px;
  padding: 8px 0;
  background: transparent;
  border: 0; }

.ibox-content.no-padding {
  background: transparent; }
  .ibox-content.no-padding table {
    background: #fff; }

.boxshadow-table {
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }

.table-title-link {
  font-weight: 600; }

.table-row-action {
  opacity: 0;
  color: #ddd;
  font-size: 13px;
  padding: 2px 0 0;
  position: relative;
  transition: all .2s ease; }
  .table-row-action span {
    padding: 0 4px; }
    .table-row-action span:first-child {
      padding-left: 0; }
  .table-row-action a {
    font-size: 12px; }
    .table-row-action a:hover {
      color: #00a0d2; }
  .table-row-action .delete a {
    color: #a00; }
    .table-row-action .delete a:hover {
      color: #dc3232; }

.checkbox-table tr:hover .table-row-action {
  opacity: 1; }

.checkbox-table tr td:first-child {
  width: 33px; }
.checkbox-table tr td:last-child {
  vertical-align: middle; }

.headerbox-add-box {
  display: flex;
  margin-bottom: 15px; }

.ibox-tools .ibox-tool-add-new {
  float: left;
  margin-left: 15px; }
.ibox-tools .ibox-tool-left-btn {
  float: left;
  margin-left: 15px; }

.ibox-boxshadow-border {
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }
  .ibox-boxshadow-border .ibox-title {
    display: flex; }
  .ibox-boxshadow-border .form-group {
    padding: 10px 0;
    display: flex;
    align-items: center; }
  .ibox-boxshadow-border .control-label {
    padding-top: 0 !important; }

.form-table, .form-table td, .form-table td p, .form-table th {
  font-size: 14px; }

.form-table {
  border-collapse: collapse;
  margin-top: .5em;
  width: 100%;
  clear: both; }
  .form-table th {
    vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 0;
    width: 200px;
    line-height: 1.3;
    font-weight: 600; }
  .form-table td {
    margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
    padding: 8px 15px; }
  .form-table label {
    display: block;
    margin-bottom: 5px;
    vertical-align: middle; }

.form-table th, .form-wrap label {
  color: #23282d;
  font-weight: 400;
  text-shadow: none;
  vertical-align: baseline; }

.dashboard-btn-group {
  margin-top: 20px; }
  .dashboard-btn-group button {
    margin-right: 8px; }
    .dashboard-btn-group button:last-child {
      margin-right: 0; }

.table-list-container {
  overflow: hidden;
  float: left;
  width: 100%; }
  .table-list-container .table-list-item {
    margin-right: 15px;
    width: calc((100% - 30px)/3);
    float: left; }
    .table-list-container .table-list-item:nth-of-type(3n) {
      margin-right: 0; }
    .table-list-container .table-list-item--five {
      width: calc(20% - 8px);
      float: left;
      margin-right: 10px; }
      .table-list-container .table-list-item--five:last-child {
        margin-right: 0; }
  .table-list-container table thead tr th {
    font-size: 14px;
    padding: 13.5px 8px !important; }
  .table-list-container table thead tr i {
    padding: 0 10px;
    font-size: 14px; }
  .table-list-container table label {
    font-weight: 600;
    width: 100%;
    margin: 0;
    padding: 5px 0; }
  .table-list-container table input[type=checkbox] {
    margin: -1px 10px 0; }
  .table-list-container table .check-all-tr {
    background: #2f4050 !important;
    color: #fff; }
    .table-list-container table .check-all-tr input[type=checkbox] {
      box-shadow: none; }

.hover-table {
  margin-bottom: 0; }
  .hover-table thead tr {
    background: #eee; }
  .hover-table tbody tr {
    transition: all .3s ease;
    background: #fff; }
    .hover-table tbody tr:hover {
      background: #f3f3f4; }

.table-div {
  margin-bottom: 15px;
  min-height: 452px;
  background: #fff; }
  .table-div:nth-child(1), .table-div:nth-child(2), .table-div:nth:child(3) {
    min-height: 452px; }

.modal {
  text-align: center; }

.modal-no-padding h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px; }
.modal-no-padding .modal-body {
  padding: 0; }
.modal-no-padding .popup-frm-container {
  padding: 50px 30px 30px 30px; }

.popup-text-block {
  text-align: center;
  margin-top: 10px; }

.popup-noti-block {
  background-color: #f4f4f4;
  text-align: center;
  transition: all .3s ease; }
  .popup-noti-block:hover {
    background: #1ab394;
    color: #fff; }
    .popup-noti-block:hover a {
      color: #fff; }
  .popup-noti-block a {
    display: block;
    width: 100%;
    padding: 20px;
    color: #676a6c; }

.popup-modal-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  display: block;
  width: 40px;
  height: 40px;
  transition: transform .25s ease-in-out;
  cursor: pointer; }
  .popup-modal-btn:hover .popup-modal-btn__Inner {
    transform: rotate(180deg); }
  .popup-modal-btn__Inner {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform .25s ease-in-out; }
    .popup-modal-btn__Inner:before {
      content: "";
      position: absolute;
      display: block;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 25px;
      height: 0;
      border-top: 1px solid #000;
      transform: rotate(45deg);
      transform-origin: center; }
    .popup-modal-btn__Inner:after {
      content: "";
      position: absolute;
      display: block;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 25px;
      height: 0;
      border-top: 1px solid #000;
      transform: rotate(-45deg);
      transform-origin: center; }

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%; } }
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

.popup-inner {
  width: 300px;
  max-width: 400px;
  margin: 0 auto; }

.popup-frm-btn-container {
  width: 100%;
  display: inline-block; }
  .popup-frm-btn-container .btn, .popup-frm-btn-container btn {
    width: 100%; }

.two-column-ul {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2; }

.display-flex {
  display: flex; }

.fr {
  float: right; }

/*# sourceMappingURL=partials.css.map */
