@font-face {
    font-family: 'Fonticonui1';
    src: url('../../../../fonts/fonticonui1/fonts/Fonticonui1.eot?s0xznw#iefix') format('embedded-opentype'), url('../../../../fonts/fonticonui1/fonts/Fonticonui1.woff?s0xznw') format('woff'), url('../../../../fonts/fonticonui1/fonts/Fonticonui1.ttf?s0xznw') format('truetype'), url('../../../../fonts/fonticonui1/fonts/Fonticonui1.svg?s0xznw#Fonticonui1') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}