[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Fonticonui1' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book-1:before {
  content: "\e99e";
}
.icon-file-world:before {
  content: "\e99a";
}
.icon-video-2:before {
  content: "\e99b";
}
.icon-file-excel:before {
  content: "\e99c";
}
.icon-file-powpoint:before {
  content: "\e99d";
}
.icon-building-01:before {
  content: "\e998";
}
.icon-logout:before {
  content: "\e999";
}
.icon-calendar-01:before {
  content: "\e997";
}
.icon-compare-01:before {
  content: "\e993";
}
.icon-compare-02:before {
  content: "\e994";
}
.icon-compare-03:before {
  content: "\e995";
}
.icon-compare-04:before {
  content: "\e996";
}
.icon-zoom-out:before {
  content: "\e900";
}
.icon-zoom-in:before {
  content: "\e901";
}
.icon-thunderbolt:before {
  content: "\e902";
}
.icon-close-2:before {
  content: "\e903";
}
.icon-close-1:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-wind:before {
  content: "\e906";
}
.icon-watch:before {
  content: "\e907";
}
.icon-video-camera-1:before {
  content: "\e908";
}
.icon-video-camera:before {
  content: "\e909";
}
.icon-user-2:before {
  content: "\e90a";
}
.icon-user-1:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e90c";
}
.icon-upload-2:before {
  content: "\e90d";
}
.icon-upload-1:before {
  content: "\e90e";
}
.icon-unlock:before {
  content: "\e90f";
}
.icon-umbrella:before {
  content: "\e910";
}
.icon-twitter:before {
  content: "\e911";
}
.icon-triangle:before {
  content: "\e912";
}
.icon-list:before {
  content: "\e992";
}
.icon-trash-1:before {
  content: "\e913";
}
.icon-trash:before {
  content: "\e914";
}
.icon-switch-1:before {
  content: "\e915";
}
.icon-switch:before {
  content: "\e916";
}
.icon-like:before {
  content: "\e917";
}
.icon-dislike:before {
  content: "\e918";
}
.icon-thermometer:before {
  content: "\e919";
}
.icon-target:before {
  content: "\e91a";
}
.icon-tag:before {
  content: "\e91b";
}
.icon-sunset:before {
  content: "\e91c";
}
.icon-sunrise:before {
  content: "\e91d";
}
.icon-sun:before {
  content: "\e91e";
}
.icon-star:before {
  content: "\e91f";
}
.icon-square:before {
  content: "\e920";
}
.icon-prohibition:before {
  content: "\e921";
}
.icon-share:before {
  content: "\e922";
}
.icon-search:before {
  content: "\e923";
}
.icon-scissors:before {
  content: "\e924";
}
.icon-rotate-1:before {
  content: "\e925";
}
.icon-rotate:before {
  content: "\e926";
}
.icon-refresh-1:before {
  content: "\e927";
}
.icon-refresh:before {
  content: "\e928";
}
.icon-wifi:before {
  content: "\e929";
}
.icon-printer:before {
  content: "\e92a";
}
.icon-power-button:before {
  content: "\e92b";
}
.icon-pocket:before {
  content: "\e92c";
}
.icon-add-2:before {
  content: "\e92d";
}
.icon-add-1:before {
  content: "\e92e";
}
.icon-add:before {
  content: "\e92f";
}
.icon-play-1:before {
  content: "\e930";
}
.icon-pie-chart:before {
  content: "\e931";
}
.icon-phone-call-6:before {
  content: "\e932";
}
.icon-phone-call-5:before {
  content: "\e933";
}
.icon-phone-call-4:before {
  content: "\e934";
}
.icon-phone-call-3:before {
  content: "\e935";
}
.icon-phone-call-2:before {
  content: "\e936";
}
.icon-phone-call-1:before {
  content: "\e937";
}
.icon-phone-call:before {
  content: "\e938";
}
.icon-pause:before {
  content: "\e939";
}
.icon-octagon:before {
  content: "\e93a";
}
.icon-musical-note:before {
  content: "\e93b";
}
.icon-move:before {
  content: "\e93c";
}
.icon-moon:before {
  content: "\e93d";
}
.icon-monitor-1:before {
  content: "\e93e";
}
.icon-minus-2:before {
  content: "\e93f";
}
.icon-minus-1:before {
  content: "\e940";
}
.icon-minus:before {
  content: "\e941";
}
.icon-minimize-1:before {
  content: "\e942";
}
.icon-minimize:before {
  content: "\e943";
}
.icon-voice-recording-1:before {
  content: "\e944";
}
.icon-voice-recording:before {
  content: "\e945";
}
.icon-menu:before {
  content: "\e946";
}
.icon-maximize-1:before {
  content: "\e947";
}
.icon-maximize:before {
  content: "\e948";
}
.icon-map:before {
  content: "\e949";
}
.icon-placeholder:before {
  content: "\e94a";
}
.icon-email:before {
  content: "\e94b";
}
.icon-padlock:before {
  content: "\e94c";
}
.icon-loading:before {
  content: "\e94d";
}
.icon-lifebuoy:before {
  content: "\e94e";
}
.icon-layout:before {
  content: "\e94f";
}
.icon-layers:before {
  content: "\e950";
}
.icon-instagram:before {
  content: "\e951";
}
.icon-info:before {
  content: "\e952";
}
.icon-inbox:before {
  content: "\e953";
}
.icon-image:before {
  content: "\e954";
}
.icon-home:before {
  content: "\e955";
}
.icon-heart:before {
  content: "\e956";
}
.icon-headphones:before {
  content: "\e957";
}
.icon-hash:before {
  content: "\e958";
}
.icon-grid:before {
  content: "\e959";
}
.icon-worldwide:before {
  content: "\e95a";
}
.icon-folder:before {
  content: "\e95b";
}
.icon-flag:before {
  content: "\e95c";
}
.icon-filter:before {
  content: "\e95d";
}
.icon-file:before {
  content: "\e95e";
}
.icon-feather:before {
  content: "\e95f";
}
.icon-facebook:before {
  content: "\e960";
}
.icon-visualization:before {
  content: "\e961";
}
.icon-hide:before {
  content: "\e962";
}
.icon-external:before {
  content: "\e963";
}
.icon-edit:before {
  content: "\e964";
}
.icon-droplet:before {
  content: "\e965";
}
.icon-download-1:before {
  content: "\e966";
}
.icon-cloud-computing-1:before {
  content: "\e967";
}
.icon-compact-disc:before {
  content: "\e968";
}
.icon-delete:before {
  content: "\e969";
}
.icon-cpu:before {
  content: "\e96a";
}
.icon-chat-1:before {
  content: "\e96b";
}
.icon-chat:before {
  content: "\e96c";
}
.icon-command:before {
  content: "\e96d";
}
.icon-settings:before {
  content: "\e96e";
}
.icon-cloud:before {
  content: "\e96f";
}
.icon-cloud-computing:before {
  content: "\e970";
}
.icon-clock:before {
  content: "\e971";
}
.icon-circle:before {
  content: "\e972";
}
.icon-check-2:before {
  content: "\e973";
}
.icon-check-1:before {
  content: "\e974";
}
.icon-check:before {
  content: "\e975";
}
.icon-photo-camera:before {
  content: "\e976";
}
.icon-no-photo:before {
  content: "\e977";
}
.icon-briefcase:before {
  content: "\e978";
}
.icon-cube:before {
  content: "\e979";
}
.icon-bookmark:before {
  content: "\e97a";
}
.icon-bluetooth:before {
  content: "\e97b";
}
.icon-bell-1:before {
  content: "\e97c";
}
.icon-bell:before {
  content: "\e97d";
}
.icon-battery:before {
  content: "\e97e";
}
.icon-bar-chart-1:before {
  content: "\e97f";
}
.icon-bar-chart:before {
  content: "\e980";
}
.icon-medal:before {
  content: "\e981";
}
.icon-at:before {
  content: "\e982";
}
.icon-upload:before {
  content: "\e983";
}
.icon-right-arrow:before {
  content: "\e984";
}
.icon-left-arrow:before {
  content: "\e985";
}
.icon-download:before {
  content: "\e986";
}
.icon-shutter:before {
  content: "\e987";
}
.icon-anchor:before {
  content: "\e988";
}
.icon-right-alignment:before {
  content: "\e989";
}
.icon-left-alignment:before {
  content: "\e98a";
}
.icon-justify:before {
  content: "\e98b";
}
.icon-center-align:before {
  content: "\e98c";
}
.icon-warning-2:before {
  content: "\e98d";
}
.icon-warning-1:before {
  content: "\e98e";
}
.icon-warning:before {
  content: "\e98f";
}
.icon-monitor:before {
  content: "\e990";
}
.icon-sound-waves:before {
  content: "\e991";
}
