.login-container {
  width: 100%;
  background: #fff;
  @media (max-width: 1000px) {
    min-height: 100vh;
  }
  @media (min-width: 1001px) {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 0;
    .container {
      display: flex;
      align-items: center;
    }
  }
}
.login-img {
  width: 32%;
  float: left;
  height: 100%;
  background-size: cover;
  background-position: center center;
  @media (max-width: 1000px) {
    display: none;
  }
  @media (min-width: 1001px) and (max-width: 1280px) {
    width: calc(100% - 500px);
    margin-right: 100px;
    img {
      width: 100%;
    }
  }
  @media (min-width: 1281px) {
    width: calc(100% - 590px);
    margin-right: 190px;
  }
}
.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 1000px) {
    width: 100%;
  }
  @media (min-width: 1001px) {
    height: 100%;
  }
}
.login-inner {
  @media (max-width: 480px) {
    width: 100%;
    padding: 30px;
  }
  @media (min-width: 481px) {
    width: 400px;
    padding: 40px 0;
    margin: 0 auto;
  }
  .form-group {
    margin-bottom: 20px;
  }
  input.form-control {
    background: #FFFFFF;
    border: 1px solid #D3DBE5;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    height: 38px;
  }
  .button-primary {
    width: 100%;
  }
  .button-register {
    width: 100%;
    &:hover {
      color: #fff;
      background: $green;
    }
  }
}
.middle-text {
  width: 100%;
  text-align: center;
}
.save-pass {
  span {
    padding-left: 6px;
  }
  a {
    font-size: 14px;
    line-height: 21px;
    color: #1C2D41;
    float: right;
    &:hover {
      color: $green;
    }
  }
}